@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;500;600;700;800&display=swap');

body{
    background-color: rgb(234, 233, 233);
    font-family: 'Noto Sans', sans-serif;
}

main{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}